<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">

<style>
.camera-container {
    display: none;
    text-align: center;
}

video {
    width: 300px;
    border-radius: 12px;
}

canvas {
    display: none;
}

.preview-img {
    width: 200px;
    margin-top: 10px;
    border-radius: 10px;
}
</style>
</head>

<body class="fade">

<div class="card">

<h2>📷 Smart Waste Scanner</h2>

<form action="/predict" method="POST" enctype="multipart/form-data" id="uploadForm">

<input type="file" name="image" id="fileInput" hidden>

<!-- BUTTONS -->
<button type="button" class="btn" onclick="startCamera()">📷 Open Camera</button>
<button type="button" class="btn secondary" onclick="openGallery()">📁 Upload</button>

<br><br>

<!-- CAMERA -->
<div class="camera-container" id="cameraBox">
    <video id="video" autoplay></video><br>

    <button type="button" class="btn" onclick="captureImage()">📸 Capture</button>
    <button type="button" class="btn secondary" onclick="stopCamera()">❌ Close</button>
</div>

<!-- PREVIEW -->
<img id="preview" class="preview-img">

<br><br>

<button type="submit" class="btn">Predict</button>

</form>

<br>
<a href="/"><button class="btn secondary">Home</button></a>

</div>

<script>
let video = document.getElementById("video");
let cameraBox = document.getElementById("cameraBox");
let preview = document.getElementById("preview");
let fileInput = document.getElementById("fileInput");

let stream;

// 🎥 START CAMERA
async function startCamera() {
    cameraBox.style.display = "block";

    stream = await navigator.mediaDevices.getUserMedia({
        video: true
    });

    video.srcObject = stream;
}

// ❌ STOP CAMERA
function stopCamera() {
    cameraBox.style.display = "none";
    if (stream) {
        stream.getTracks().forEach(track => track.stop());
    }
}

// 📸 CAPTURE IMAGE
function captureImage() {
    let canvas = document.createElement("canvas");
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;

    let ctx = canvas.getContext("2d");
    ctx.drawImage(video, 0, 0);

    canvas.toBlob(function(blob) {
        let file = new File([blob], "capture.jpg", { type: "image/jpeg" });

        let dt = new DataTransfer();
        dt.items.add(file);
        fileInput.files = dt.files;

        preview.src = URL.createObjectURL(file);
    });
}

// 📁 GALLERY
function openGallery() {
    fileInput.click();
}

// SHOW PREVIEW
fileInput.addEventListener("change", function() {
    if (this.files[0]) {
        preview.src = URL.createObjectURL(this.files[0]);
    }
});
</script>

</body>
</html>